body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heading{
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    position: relative;
    top: 17px;
}

#Title{
    font-size: 25px;
    font-weight: bold;
    background-color: lightpink;
    text-align: center;
}